#ErrorDocument 404 /reserva-salas/404.php
RewriteEngine on
#RewriteBase /reserva-salas
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d|template|classes|robots\.txt
RewriteRule ^(.*)$ index.php?url=$1 [L]


#RewriteCond $1 !^(index\.php|assets|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]


